/* Global Rules */
html {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  text-align: center;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* End Global Rules */

nav {
  background-color: #5995da;
  padding: 2em;
}
header {
  background-color: #b2d6ff;
  padding: 3em;
}

article {
  padding: 5em;
}
.feature-one {
  background-color: #f5cf8e;
  grid-area: 1/1/2/2;
}
.feature-two {
  background-color: #c8c6fa;
  grid-area: 1/2/2/3;
}
.feature-three {
  background-color: #f09a9d;
  grid-area: 1/3/2/4;
}
.sign-in {
  background-color: #d6e9fe;
  padding: 1.5em;
  grid-area: 2/1/3/4;
}
.content {
  background-color: #eaedf0;
  padding: 3.5em;
  grid-area: 3/1/4/4;
}

/* media queries adjust */
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .content {
    grid-area: 1/1 / span 1 / span 2;
  }
  main {
    display: grid;
    grid-template-columns: auto auto;
  }

  .feature-one {
    grid-area: 2/2/3/3;
  }
  .sign-in {
    grid-area: 2/1/3/2;
  }

  .feature-two {
    grid-area: 3/2/4/3;
  }
  .feature-three {
    grid-area: 3/1/3/2;
  }
}
@media (min-width: 993px) {
  main {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
