body {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg)
    no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}

form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

form .label,
form .input,
form button {
  width: 100%;
  color: #fff;
  display: block;
}

form .input,
form button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  margin: 30px 0px;
}

form .label {
  color: #aaa;
  font-size: 12px;
}

form button {
  background: #1161ee;
  cursor: pointer;
}
h2 {
  width: fit-content;
  margin: 5px auto;
  color: white;
}
