/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* End global rules */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .logo {
  width: 200px;
  display: flex;
}
header img {
  max-width: 70px;
}
.logo p:first-of-type {
  color: #e69a40;
}
.navbar {
  display: flex;
  align-items: center;
  color: #e69a40;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #e69a40;
}
