/* Global rules */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* End global rules */
html {
  background: lightgray;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
}

main {
  background: white;
  margin: 5em auto;
  padding: 5em 2em;
  width: 90%;
}
h1 {
  color: black;
  font-weight: lighter;
  margin-bottom: 3em;
  text-transform: uppercase;
}
figure {
  overflow: hidden;
}
img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
img:hover {
  transition: 0.3s;
  transform: rotate(5deg) scale(1.1);
}
h2 {
  color: black;
  font-size: 2.4em;
  font-weight: normal;
  margin: 2.5em 0;
  text-transform: uppercase;
}
p {
  line-height: 1.5;
  margin-bottom: 5em;
  font-size: large;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  padding: 0;
}
li {
  margin: 3.3em;
}
button {
  padding: 10px 35px;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px;
  font-weight: bold;
  transition: 0.3s;
}
button:hover {
  background-color: brown;
  color: white;
}
@media (max-width: 768px) {
  ul {
    grid-template-columns: 1fr;
  }
}
