/* Global rules */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* End global rules */
html {
  background: lightgray;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  font-size: large;
  color: black;
}
.row-menu,
.colum-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #d2e7f2;
  padding: 2em;
}

.row-menu {
  display: none;
}
.colum-menu {
  display: none;
}

article {
  position: fixed;
  width: 20px;
  height: 3px;
  background-color: blue;
  right: 0;
  margin: 20px;
  cursor: pointer;
}
article::before,
article::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: blue;
  right: 0;
}
article::before {
  bottom: 10px;
}
article::after {
  top: 10px;
}
.colum-menu {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-self: flex-end;
}
@media (max-width: 768px) {
}
